.cursor-pointer {
    cursor: pointer;
}

body {
    background-color: var(--primary) !important;
}

.bg-orange {
    background-color: var(--orange) !important; //todo: Add this to main
}

.bg-blue {
    background-color: var(--blue-shade) !important;
}